<div class="container-fluid">
    <div class="row">
     <aside class="col-sm-2 col-2 px-0 sidebar"  id="left">
         
         <div class="list-group w-100 sidebar-wrapper">
             <a href="#" class="list-group-item active">Rule Management</a>
             <a href="#" class="list-group-item">Formula Management</a>
             <a href="#" class="list-group-item">Rule Group</a>
             <a href="#" class="list-group-item">Security Pair</a>
             <a href="#" class="list-group-item">Stress test</a>
             <a href="#" class="list-group-item">Margin cap</a>
             <a href="#" class="list-group-item">Non-Financial Rule Management</a>
             <a href="#" class="list-group-item">FX Risk Management</a>
            
         </div>
        
     </aside>
     <main class="col-10 invisible">
     </main>
     
 </div>
</div> 
